.claude/*
# Miscellaneous
auto_parts_app/*.class
auto_parts_app/*.log
auto_parts_app/*.pyc
auto_parts_app/*.swp
auto_parts_app/.DS_Store
auto_parts_app/.atom/
auto_parts_app/.buildlog/
auto_parts_app/.history
auto_parts_app/.svn/
auto_parts_app/migrate_working_dir/

# IntelliJ related
auto_parts_app/*.iml
auto_parts_app/*.ipr
auto_parts_app/*.iws
auto_parts_app/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
auto_parts_app/**/doc/api/
auto_parts_app/**/ios/Flutter/.last_build_id
auto_parts_app/.dart_tool/
auto_parts_app/.flutter-plugins
auto_parts_app/.flutter-plugins-dependencies
auto_parts_app/.pub-cache/
auto_parts_app/.pub/
auto_parts_app/build/

# Symbolication related
auto_parts_app/app.*.symbols

# Obfuscation related
auto_parts_app/app.*.map.json

# Android Studio will place build artifacts here
/auto_parts_app/android/app/debug
/auto_parts_app/android/app/profile
/auto_parts_app/android/app/release
